ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
li{
  display: flex;
  
}
.menuElement{
  display: flex;
  align-items: center;
  padding: 10px; /* Dodaj odpowiedni padding według potrzeb */
  text-decoration: none;
  color: white; /* Dodaj kolor tekstu według potrzeb */
}

.iconTextGap {
  margin-left: 10px; /* Możesz dostosować wartość marginesu według potrzeb */
}

.active {
    background-color: #232730;
    flex-grow: 1;

 }
.inactive{

  }